.week-header {
  font-weight: bold;
  min-width: 75px;
}
.week-first-column {
    min-width: 200px;
}
.week-after-first-column {
    min-width: 75px;
}
.week-on{
  background: #7798AB;
  height: 10px;
}

.week-off{
  background: white;
  height: 10px;
}
.week-row{
  padding: 4px;
  border-bottom: 1px solid gray;
}
